.fk0{
    background-color: #5446cf;
}
.fk1{
    background-color: #812b36;
}
.fk2{
    background-color: #288a71;
}
.fk3{
    background-color: #cf4646;
}
.fk4{
    background-color: #5dcf46;
}
.fk5{
    background-color: #cf9446;
}
.fk6{
    background-color: #cf46a6;
}
.fk7{
    background-color: #4681cf;
}